.box {
  background-color: red;
  color: white;
  width: 500px;
  height: 500px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 3rem;
  font-size: 4rem;
}

.box:hover {
  width: 800px;
  background-color: greenyellow;
  font-size: 5rem;
  color: black;
}

.animate {
  transition-property: background-color, font-size, width, color;
  transition-duration: 0.5s, 2s, 5s, 5s;
  transition-delay: 0s, 0s, 2s, 0s;
}
